@use "sass:color";
@use "sass:map";

@use "../abstract" as *;

:root {
  // Font family
  --font-family-primary: #{$p4-font-family-primary};

  // Font sizes
  --p4-font-size-s: #{map.get($text-s, size)};
  --p4-font-size-m: #{map.get($text-m, size)};

  // Line heights
  --p4-line-height-s: #{map.get($text-s, line-height)};
  --p4-line-height-m: #{map.get($text-m, line-height)};

  // Text transform
  --p4-text-uppercase: uppercase;
  --p4-text-normal-case: none;

  // Transitions
  --p4-transition-duration-fast: #{$p4-transition-duration-fast};
  --p4-transition-duration-medium: #{$p4-transition-duration-medium};
  --p4-transition-duration-slow: #{$p4-transition-duration-slow};
  --p4-transition-timing-function: #{$p4-transition-timing-function};

  // Surface colors (adaptive to light/dark mode)
  @media (prefers-color-scheme: light) {
    --p4-color-danger-500: #{$p4-color-danger-500};

    --p4-color-warning-500: #{$p4-color-warning-500};

    --p4-color-success-500: #{$p4-color-success-500};

    --p4-color-info-500: #{$p4-color-info-500};

    --p4-color-notice-500: #{$p4-color-notice-500};

    --p4-color-neutral-0: #{$p4-color-neutral-0};
    --p4-color-neutral-50: #{$p4-color-neutral-50};
    --p4-color-neutral-200: #{$p4-color-neutral-200};
    --p4-color-neutral-350: #{$p4-color-neutral-350};
    --p4-color-neutral-500: #{$p4-color-neutral-500};
    --p4-color-neutral-650: #{$p4-color-neutral-650};
    --p4-color-neutral-800: #{$p4-color-neutral-800};
    --p4-color-neutral-950: #{$p4-color-neutral-950};
    --p4-color-neutral-1000: #{$p4-color-neutral-1000};

    --p4-color-primary-50: #($p4-color-primary-50);
    --p4-color-primary-200: #($p4-color-primary-200);
    --p4-color-primary-350: #($p4-color-primary-350);
    --p4-color-primary-500: #($p4-color-primary-500);
    --p4-color-primary-650: #($p4-color-primary-650);
    --p4-color-primary-800: #($p4-color-primary-800);
    --p4-color-primary-950: #($p4-color-primary-950);

    --p4-color-secondary-50: #($p4-color-secondary-50);
    --p4-color-secondary-200: #($p4-color-secondary-200);
    --p4-color-secondary-350: #($p4-color-secondary-350);
    --p4-color-secondary-500: #($p4-color-secondary-500);
    --p4-color-secondary-650: #($p4-color-secondary-650);
    --p4-color-secondary-800: #($p4-color-secondary-800);
    --p4-color-secondary-950: #($p4-color-secondary-950);

    --p4-color-tertiary-50: #($p4-color-tertiary-50);
    --p4-color-tertiary-200: #($p4-color-tertiary-200);
    --p4-color-tertiary-350: #($p4-color-tertiary-350);
    --p4-color-tertiary-500: #($p4-color-tertiary-500);
    --p4-color-tertiary-650: #($p4-color-tertiary-650);
    --p4-color-tertiary-800: #($p4-color-tertiary-800);
    --p4-color-tertiary-950: #($p4-color-tertiary-950);
  }

  @media (prefers-color-scheme: dark) {
    --p4-color-neutral-0: #{$p4-color-neutral-1000};
    --p4-color-neutral-50: #{$p4-color-neutral-950};
    --p4-color-neutral-200: #{$p4-color-neutral-800};
    --p4-color-neutral-350: #{$p4-color-neutral-650};
    --p4-color-neutral-500: #{$p4-color-neutral-500};
    --p4-color-neutral-650: #{$p4-color-neutral-350};
    --p4-color-neutral-800: #{$p4-color-neutral-200};
    --p4-color-neutral-950: #{$p4-color-neutral-50};
    --p4-color-neutral-1000: #{$p4-color-neutral-0};

    --p4-color-primary-50: #($p4-color-primary-950);
    --p4-color-primary-200: #($p4-color-primary-800);
    --p4-color-primary-350: #($p4-color-primary-650);
    --p4-color-primary-500: #($p4-color-primary-500);
    --p4-color-primary-650: #($p4-color-primary-350);
    --p4-color-primary-800: #($p4-color-primary-200);
    --p4-color-primary-950: #($p4-color-primary-50);

    --p4-color-secondary-50: #($p4-color-secondary-950);
    --p4-color-secondary-200: #($p4-color-secondary-800);
    --p4-color-secondary-350: #($p4-color-secondary-650);
    --p4-color-secondary-500: #($p4-color-secondary-500);
    --p4-color-secondary-650: #($p4-color-secondary-350);
    --p4-color-secondary-800: #($p4-color-secondary-200);
    --p4-color-secondary-950: #($p4-color-secondary-50);

    --p4-color-tertiary-50: #($p4-color-tertiary-950);
    --p4-color-tertiary-200: #($p4-color-tertiary-800);
    --p4-color-tertiary-350: #($p4-color-tertiary-650);
    --p4-color-tertiary-500: #($p4-color-tertiary-500);
    --p4-color-tertiary-650: #($p4-color-tertiary-350);
    --p4-color-tertiary-800: #($p4-color-tertiary-200);
    --p4-color-tertiary-950: #($p4-color-tertiary-50);
  }

  // Spacers
  --p4-spacer-0: #{$p4-spacer-0};
  --p4-spacer-1: #{$p4-spacer-1};
  --p4-spacer-2: #{$p4-spacer-2};
  --p4-spacer-4: #{$p4-spacer-4};
  --p4-spacer-8: #{$p4-spacer-8};
  --p4-spacer-12: #{$p4-spacer-12};
  --p4-spacer-16: #{$p4-spacer-16};
  --p4-spacer-20: #{$p4-spacer-20};
  --p4-spacer-24: #{$p4-spacer-24};
  --p4-spacer-32: #{$p4-spacer-32};
  --p4-spacer-40: #{$p4-spacer-40};
  --p4-spacer-48: #{$p4-spacer-48};
  --p4-spacer-56: #{$p4-spacer-56};
  --p4-spacer-64: #{$p4-spacer-64};
  --p4-spacer-72: #{$p4-spacer-72};
  --p4-spacer-80: #{$p4-spacer-80};
  --p4-spacer-88: #{$p4-spacer-88};
  --p4-spacer-96: #{$p4-spacer-96};
  --p4-spacer-104: #{$p4-spacer-104};
  --p4-spacer-112: #{$p4-spacer-112};
  --p4-spacer-120: #{$p4-spacer-120};
  --p4-spacer-128: #{$p4-spacer-128};
  --p4-spacer-136: #{$p4-spacer-136};
  --p4-spacer-144: #{$p4-spacer-144};
  --p4-spacer-152: #{$p4-spacer-152};
  --p4-spacer-160: #{$p4-spacer-160};
  --p4-spacer-100-percent-neg: #{$p4-spacer-100-percent-neg};
  --p4-spacer-80-percent-neg: #{$p4-spacer-80-percent-neg};
  --p4-spacer-75-percent-neg: #{$p4-spacer-75-percent-neg};
  --p4-spacer-66-percent-neg: #{$p4-spacer-66-percent-neg};
  --p4-spacer-60-percent-neg: #{$p4-spacer-60-percent-neg};
  --p4-spacer-50-percent-neg: #{$p4-spacer-50-percent-neg};
  --p4-spacer-40-percent-neg: #{$p4-spacer-40-percent-neg};
  --p4-spacer-33-percent-neg: #{$p4-spacer-33-percent-neg};
  --p4-spacer-25-percent-neg: #{$p4-spacer-25-percent-neg};
  --p4-spacer-20-percent-neg: #{$p4-spacer-20-percent-neg};
  --p4-spacer-auto: #{$p4-spacer-auto};
  --p4-spacer-20-percent: #{$p4-spacer-20-percent};
  --p4-spacer-25-percent: #{$p4-spacer-25-percent};
  --p4-spacer-33-percent: #{$p4-spacer-33-percent};
  --p4-spacer-40-percent: #{$p4-spacer-40-percent};
  --p4-spacer-50-percent: #{$p4-spacer-50-percent};
  --p4-spacer-60-percent: #{$p4-spacer-60-percent};
  --p4-spacer-66-percent: #{$p4-spacer-66-percent};
  --p4-spacer-75-percent: #{$p4-spacer-75-percent};
  --p4-spacer-80-percent: #{$p4-spacer-80-percent};
  --p4-spacer-100-percent: #{$p4-spacer-100-percent};
  --p4-spacer-20-percent-neg: #{$p4-spacer-20-percent-neg};
  --p4-spacer-25-percent-neg: #{$p4-spacer-25-percent-neg};
  --p4-spacer-33-percent-neg: #{$p4-spacer-33-percent-neg};
  --p4-spacer-40-percent-neg: #{$p4-spacer-40-percent-neg};
  --p4-spacer-50-percent-neg: #{$p4-spacer-50-percent-neg};
  --p4-spacer-60-percent-neg: #{$p4-spacer-60-percent-neg};
  --p4-spacer-66-percent-neg: #{$p4-spacer-66-percent-neg};
  --p4-spacer-75-percent-neg: #{$p4-spacer-75-percent-neg};
  --p4-spacer-100-percent-neg: #{$p4-spacer-100-percent-neg};

  // Body text
  --p4-text-color-base: var(--p4-color-neutral-950);
  --p4-text-color-muted: var(--p4-color-neutral-500);

  --p4-font-family-base: #{$p4-font-family-primary};

  --p4-text-size-base: var(--p4-font-size-m);
  --p4-text-line-height-base: var(--p4-line-height-m);
}
