@use '../abstract' as *;

a {
  color: var(--p4-link-color);
  text-decoration-thickness: var(--p4-link-text-decoration-thickness);
  text-decoration-line: var(--p4-link-text-decoration-line);
  text-underline-offset: var(--p4-link-text-underline-offset);
  transition-property: var(--p4-link-transition-property);
  transition-duration: var(--p4-transition-duration);
  transition-timing-function: var(--p4-transition-timing-function);

  &:hover {
    color: var(--p4-link-color--hover);
    text-decoration-thickness: var(--p4-link-text-decoration-thickness--hover);
    text-decoration-line: var(--p4-link-text-decoration-line--hover);
    text-underline-offset: var(--p4-link-text-underline-offset--hover);
  }
  
  &:focus-visible {
    color: var(--p4-link-color--focus);
    text-decoration-thickness: var(--p4-link-text-decoration-thickness--focus);
    text-decoration-line: var(--p4-link-text-decoration-line--focus);
    text-underline-offset: var(--p4-link-text-underline-offset--focus);
  }
  
  &:active {
    color: var(--p4-link-color--active);
    text-decoration-thickness: var(--p4-link-text-decoration-thickness--active);
    text-decoration-line: var(--p4-link-text-decoration-line--active);
    text-underline-offset: var(--p4-link-text-underline-offset--active);
  }
}
