@use '../../abstract' as *;

:root {
  --p4-btn-align-items: center;
  --p4-btn-bg: var(--p4-color-primary-500);
  --p4-btn-border-radius: 0;
  --p4-btn-border: var(--p4-line-width) solid transparent;
  --p4-btn-box-shadow: none;
  --p4-btn-color: var(--p4-color-neutral-0);
  --p4-btn-cursor: pointer;
  --p4-btn-display: inline-flex;
  --p4-btn-font-size: var(--p4-text-size-base);
  --p4-btn-gap: #{to-rem(8)};
  --p4-btn-justify-content: center;
  --p4-btn-line-height: var(--p4-text-line-height-base);
  --p4-btn-min-height: #{to-rem(42)};
  --p4-btn-min-width: #{to-rem(42)};
  --p4-btn-padding-x: #{to-rem(16)};
  --p4-btn-padding-y: #{to-rem(8)};
  --p4-btn-text-decoration-none: none;
  --p4-btn-transition: all var(--p4-transition-duration) var(--p4-transition-timing-function);

  --p4-btn-bg--hover: var(--p4-color-primary-650);
  --p4-btn-border--hover: var(--p4-line-width) solid transparent;
  --p4-btn-box-shadow--hover: none;
  --p4-btn-color--hover: var(--p4-color-neutral-0);
  
  --p4-btn-focus-ring-offset: var(--p4-focus-ring-offset);
  --p4-btn-focus-ring-radius: var(--p4-focus-ring-radius);
  --p4-btn-focus-ring: var(--p4-focus-ring);
  
  --p4-btn-bg--active: var(--p4-color-primary-350);
  --p4-btn-border--active: var(--p4-line-width) solid transparent;
  --p4-btn-box-shadow--active: none;
  --p4-btn-color--active: var(--p4-color-neutral-0);
  
  --p4-btn-bg--disabled: var(--p4-color-neutral-350);
  --p4-btn-border--disabled: var(--p4-line-width) solid transparent;
  --p4-btn-box-shadow--disabled: none;
  --p4-btn-color--disabled: var(--p4-color-neutral-0);
  --p4-btn-cursor--disabled: not-allowed;
  --p4-btn-pointer-events--disabled: none;
}

.p4-btn {
  align-items: var(--p4-btn-align-items);
  background-color: var(--p4-btn-bg);
  border-radius: var(--p4-btn-border-radius);
  border: var(--p4-btn-border);
  box-shadow: var(--p4-btn-box-shadow);
  color: var(--p4-btn-color);
  cursor: var(--p4-btn-cursor);
  display: var(--p4-btn-display);
  font-size: var(--p4-btn-font-size);
  gap: var(--p4-btn-gap);
  justify-content: var(--p4-btn-justify-content);
  line-height: var(--p4-btn-line-height);
  min-height: var(--p4-btn-min-height);
  min-width: var(--p4-btn-min-width);
  padding-block: var(--p4-btn-padding-y);
  padding-inline: var(--p4-btn-padding-x);
  text-decoration: var(--p4-btn-text-decoration-none);
  transition: var(--p4-btn-transition);
  
  &:hover {
    background-color: var(--p4-btn-bg--hover);
    border: var(--p4-btn-border--hover);
    box-shadow: var(--p4-btn-box-shadow--hover);
    color: var(--p4-btn-color--hover);
  }
  
  &:focus-visible {
    border-radius: var(--p4-btn-focus-ring-radius);
    outline-offset: var(--p4-btn-focus-ring-offset);
    outline: var(--p4-btn-focus-ring);
    transition: none;
  }
  
  &:active {
    background-color: var(--p4-btn-bg--active);
    border: var(--p4-btn-border--active);
    box-shadow: var(--p4-btn-box-shadow--active);
    color: var(--p4-btn-color--active);
  }
  
  &:disabled {
    background-color: var(--p4-btn-bg--disabled);
    border: var(--p4-btn-border--disabled);
    box-shadow: var(--p4-btn-box-shadow--disabled);
    color: var(--p4-btn-color--disabled);
    cursor: not-allowed;
    pointer-events: none;
  }
}
