@use '../../abstract' as *;

:root {
  --p4-btn-ghost-inverse-bg: transparent;
  --p4-btn-ghost-inverse-border: none;
  --p4-btn-ghost-inverse-box-shadow: none;
  --p4-btn-ghost-inverse-color: var(--p4-color-primary-350);
  
  --p4-btn-ghost-inverse-bg--hover: transparent;
  --p4-btn-ghost-inverse-border--hover: none;
  --p4-btn-ghost-inverse-box-shadow--hover: none;
  --p4-btn-ghost-inverse-color--hover: var(--p4-color-primary-500);
  
  --p4-btn-ghost-inverse-bg--active: transparent;
  --p4-btn-ghost-inverse-border--active: none;
  --p4-btn-ghost-inverse-box-shadow--active: none;
  --p4-btn-ghost-inverse-color--active: var(--p4-color-primary-200);
}

.p4-btn.p4-btn--ghost-inverse {
  background-color: var(--p4-btn-ghost-inverse-bg);
  border: var(--p4-btn-ghost-inverse-border);
  box-shadow: var(--p4-btn-ghost-inverse-box-shadow);
  color: var(--p4-btn-ghost-inverse-color);
  
  &:hover {
    background-color: var(--p4-btn-ghost-inverse-bg--hover);
    border: var(--p4-btn-ghost-inverse-border--hover);
    box-shadow: var(--p4-btn-ghost-inverse-box-shadow--hover);
    color: var(--p4-btn-ghost-inverse-color--hover);
  }
  
  &:active {
    background-color: var(--p4-btn-ghost-inverse-bg--active);
    border: var(--p4-btn-ghost-inverse-border--active);
    box-shadow: var(--p4-btn-ghost-inverse-box-shadow--active);
    color: var(--p4-btn-ghost-inverse-color--active);
  }
}
