@use 'sass:map';
@use '../settings' as settings;
@use '../abstract' as *;

@if map.get(settings.$p4-modules, "objects/container") {
  .p4-container {
    margin-inline-end: auto;
    margin-inline-start: auto;
    padding-inline-end: var(--p4-gutter-x);
    padding-inline-start: var(--p4-gutter-x);
    width: 100%;
  }

  @include generate-container();
}