:root {
  --p4-font-family-fallback: Helvetica, Arial, sans-serif; // Se usa como fallback para idiomas con caracteres no latinos
  --p4-font-family-primary: Helvetica, Arial, sans-serif;
  --p4-font-family-secondary: 'Times New Roman', serif;
}