:root {
  --p4-text-color-base: var(--p4-color-neutral-950);
  --p4-text-color-base-inverse: var(--p4-color-neutral-50);
  --p4-text-color-muted: var(--p4-color-neutral-500);
  --p4-text-color-muted-inverse: var(--p4-color-neutral-500);

  --p4-font-family-base: var(--p4-font-family-primary);

  --p4-text-size-base: var(--p4-font-size-m);
  --p4-text-line-height-base: var(--p4-line-height-m);

  --p4-font-weight-base: var(--p4-font-weight-normal);
}